# Python
__pycache__/
*.py[cod]
*.class
.ipynb_checkpoints/

# OS
desktop.ini
.DS_Store

# Data & Models (Too large for Git)
data/
!data/readme.md
*.npy
*.pt
*.bin
assignments/**/output/
assignments/**/finetuned_model/
venv/
directory_info.txt
generate_context.py
generate_full_report.py
complete_repository_report.txt
full_context.txt
repository_report.txt
split.py
split/